.page.theme_dark {
  --text-color: var(--color-pink-light, #f1b2ce);
  --brand-color: var(--color-purple-vivid, #db00ff);
  --secondary-color: var(--color-purple-pinkish, #ff0070);
  --secondary-color-hover: var(--color-purple-transparent, #ff007040);
  --accent-color: var(--color-purple-pinkish, #ff0070);
  --highlight-color: var(--color-black-night, #000028);

  --main-bg-color: var(--color-black-night, #000028);
  --main-bg-image: url('../images/cover-image-dark.png');

  --rec-visibility: visible;
}
